
.card-img-top{
    width: 10px;
    height: 170px;
}
.btn-group{
    margin-top: 10px;
}
/*    section 33 */

*{
    margin: 0;
    padding: 0;
}
.image{
    width: 100%;
    height: 30em;
}

.carousel-item img{
    width: 60%;
    align-content: center;
    height: 530px;
}
.carousel-item {
   padding-left: 120px;
   padding-right: 120px;
 
}
