
*{
    margin: 0;
    padding: 0;
}

.header{
height: 100vh;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/beach.jpg")no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
color: white;

}


.header h2{
    padding-top: 200px;
    padding-bottom: 0px;
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
 .header .hom{
     width: 100px;
    float: right;
    border-radius: 50px;
    color:#fff;
    background:transparent;
    outline:none !important;
    margin-top: 10px;
    font-size: 33px;
    font-weight: 400;
margin-left: 2px; 
} 
.d-flex{
    width: 500px;
}
.header .navbar{
    margin-left: 500px;
}
.d-flex .btn{
    border-radius: 20px;
    margin-left: 13px;
}

/* section about */
 .text-center h2{
    font-family: cursive;
    font-weight: 100px;
 }                      




                                         /* section 3 */
                      
         .features{
             padding: 100px 0;


         }  
         .features h1{
             text-align: center;
             padding-bottom: 30px;
             font-family: cursive;
             
         }  
        .features .row img{
            width: 300px;
        }
         .price{
            width: 50px;
            height: 50px;
            background: rgb(238, 101, 51);
            color: white;
            font-weight: 600;
            border-radius: 50%;
            padding: 10px;
            box-shadow:0 0 10px 1px blue;
            position: absolute;
            left:20px;
            bottom:25px;
         }
         
         /* section 4 */
         .image{
            width: 100%;
            height: 30em;
        }
        
         .carousel-item img{
            width: 60%;
            align-content: center;
            height: 530px;
        } 
        .kozhi{
            text-align: end;
            padding-right: 10px;
            ;
        }