*{
    padding: 0;
    margin: 0;
}

.header img{
 width: 100px;
 margin-top: 15px;

}

 .header{
     height: 100px;
     background-image: linear-gradient(#e6ca2e,#fffa40);
     position: sticky;
     top: 0;
     z-index: 10;
 }

 .navbar{
    float: right;
    margin-top: 25px;
   
} 
 .nav-item{
    width: 100px;
margin-top: 10px;     outline: none !important;
     border: 2px solid #ffff;
     border-radius: 50px;
     background: transparent;
     color: white;
     
     
} 
.service .row .col-md-3{
    padding: 15px;
}
.service .row .card{
    padding-left: 15px;
    color: rgb(29, 29, 22);
}

                              /* section footer */

.footer{
    padding: 100px 20px;
    background-image: linear-gradient(#e6ca2e,#fffa40);
}
 .footer-logo{
     width: 150px;
     margin-top: 15px;
     margin-bottom: 15px;
 } 
 .footer h3{
     text-align: left;
     margin-top: 15px;
     margin-bottom: 25px;
 }  
 .footer p{
     font-size: 12px;
     text-align: justify;
     padding-right: 35px;
 }
 .footer .row .fa{
     padding-right: 20px;
     font-size: 15px;
 }
 .footer .row .fc{
     text-decoration: none;
     color: black;

 }
 .footer hr{
     background-color: rgb(92, 86, 86);
 }
 .footer .copyright{
text-align: center;
 }

                                          /* login page */
  .login .row{
    background-color: #e6ca2e;
     padding: 20px; 

    } 
    .login{
        width: 40%;
         margin: auto;
        margin-top: 140px;
         /* margin-top: 145px;
        margin-left: 451px;  */
        /* height: 50%; */
         /* border: 10px  rgb(87, 86, 23);  */
         border: 2px solid rgb(225, 228, 44);
          padding: 10px; 
         border-radius: 25px;


   }
  


   .login .row .forgot{
       text-decoration: none;
       color: rgb(102, 92, 92);
       float: right;
       margin-bottom: 10px;
   }
   .login .row .button {
 
     padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #2e2f30;
    border-radius: 6px;
  
  }
                              /* signup page */

.signup .row{
    background-color: #e6ca2e;
 padding: 20px; 

} 
    .signup{
        width: 40%;
        margin: auto;
        margin-top: 140px;
        border: 2px solid rgb(225, 228, 44);
        padding: 12px 25px 12px 25px;
        border-radius: 25px;
        
    }    
     .signup .row .button{
        float: right;
        background-color:rgb(63, 66, 218) ;
        color: white;
        border-radius: 2px;
    }                    
    